.git
nbproject


# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*

app/logs/*
app/cache/*


#web/uploads/*
#web/bundles/acmedemo*
#web/bundles/framework*
#web/bundles/sensiodistribution*
#web/bundles/webprofiler*


# Configuration files
#Symfony/app/config/parameters.ini
app/config/parameters.yml
docs/*


# Acme
#src/Acme*