.git
nbproject


# Bootstrap
#app/bootstrap*

# Symfony directories
vendor/*

app/logs/*
app/cache/dev
app/cache/prod
app/cache/.gitkeep

#web/uploads/*
#web/bundles/acmedemo*
#web/bundles/framework*
#web/bundles/sensiodistribution*
#web/bundles/webprofiler*


# Configuration files
#Symfony/app/config/parameters.ini
#Symfony/app/config/parameters.yml



# Acme
#src/Acme*