body {
	font-size: sans-serif;
	counter-reset: sections;
	
}
#load{
    margin :5px;
}

h2:before {
	content: "Section " counter(sections) ". ";
	counter-increment: sections;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

blockquote {
	font-size: 1.5em;
	font-weight: bold;
}

blockquote a {
	color: #ffffff;
	text-decoration: none;
}

pre {
	font-size: 0.92em;
}

.button {
	text-align: center;
	margin: 0 auto;
}
button {
	cursor: pointer;
	font-size: 1.2em;
}

#album, .album {
    position: relative;
	width: 290px;
	height: 450px;
	overflow: hidden;
	margin: 0 auto;
	
	
}
.album article
{
	border : 1px solic #CCC;
	padding : 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1); 
	margin: 10px;
	text-align: left;
}

#paging, .paging {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 450px;
	height: 450px;
}

#paging div.page, .paging div {
	float: left;
	width: 280px;
	min-height: 300px;
	margin: 4px;
	border: 1px solid #CCC;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #000000;
	text-align: center;
	font-size: 0.85em;
	display: none;
	cursor: pointer;
}

.banner_pager,.banner_pager2,.banner_pager3,.banner_pager4 {
    list-style: none;
    width: 290px;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.banner_pager > li,
.banner_pager2 > li,
.banner_pager3 > li,
.banner_pager4 > li {
    display: inline;
    cursor: pointer;
    padding: 0px 4px;
    font-size: 3em;
    color: black;
}
.banner_pager > li.on,
.banner_pager2 > li.on,
.banner_pager3 > li.on,
.banner_pager4 > li.on {
    color: white;
}

.paging div.p1, .paging div.p3, .paging div.p5, .paging div.p7, .paging div.p9
{ width: 500px; height: 500px; }


.container_main {
    clear: both;
    margin-top: 80px;
}

button.btn-heyvent{
     background: url('/bundles/heysite/images/common/bout-valid-off.png') no-repeat;
     width: 235px;
     height: 37px;
     border: none;
}
button.btn-heyvent:hover{
    cursor: pointer;
    background: url('/bundles/heysite/images/common/bout-valid-roll.png') no-repeat;
}
.btn-heyvent2{
     background: url('/bundles/heysite/images/common/bout-valider-off.png') no-repeat;
     width: 132px;
     height: 37px;
     border: none;
}
.btn-heyvent2:hover{
    cursor: pointer;
    background: url('/bundles/heysite/images/common/bout-valider-roll.png') no-repeat;
}