/* 
    Document   : base
    Created on : 16 mars 2013, 15:14:07
    Author     : RENAULT
    Description:
        Base css du module de gestion d'images' 
*/
section.arborescence,
section.originale_picture{
   float: left;
   margin-right: 10px;
}
section.crop_picture{
  float: left; 
}
section.arborescence  div.files{ 
    background-color: #FFF;
    max-height: 700px;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 5px;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
section.arborescence ul{
    margin: 0px;
}
section.arborescence li{
    list-style: none;
}
section.arborescence .dir{
    background: url("/bundles/heysite/images/picture/dossier_ferme.png") no-repeat left;
    padding-left: 40px;
    width: 33px;
    height: 18px; 
}
section.arborescence .png{
    background: url("/bundles/heysite/images/picture/png.png") no-repeat left;
    padding-left: 40px;
    font-size: 0.9em;
   
}
section.arborescence .dir:hover{
    cursor: pointer;
    text-decoration: underline;
}

section.originale_picture div.figure{ 
    background-color: #FFF;
   /* max-height: 600px;
    overflow: auto;*/
    border: 1px solid #CCC;
    padding: 5px;
    width: 430px;
    /*min-height : 550px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
section.crop_picture div.figure{ 
    background-color: #FFF;
   /* max-height: 600px;
    overflow: auto;*/
    border: 1px solid #CCC;
    padding: 5px;
    width: 49px;
    height : 49px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bar {
    height: 10px;
    background: green;
    border: 1px solid #CCC;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


