#account_dateOfBirth select {
    width : 70px;
}
form[name="profil"] table td
{
    padding: 10px !important;
}
.information_complementaire {
    padding: 10px;
}
.information_complementaire a{
    background: url('/bundles/heysite/images/event/picto-contrib-plus.png') no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    color: #793580;
    
}
.information_complementaire a:hover{
    text-decoration: underline;
}

.background-left-nav{
    background-color: #e0e0e0;
    /*min-height: 500px !important;*/
   
   
}
.background-right-nav{
    
   
}
.container-fluid-bg{
    background-color: #FFF;
  
}
input.lastName
{
    border: none;
    border-bottom: 1px solid #CCC;
    font-size: 2em;
    color: #000 !important;
    width: 98%;
    margin-bottom: 10px;
    margin-top: 10px;
    
  
}
input.firstName
{
    border: none;
    border-bottom: 1px solid #CCC;
    font-size: 1.5em;
    color: #000 !important;
    width: 98%;
    margin-bottom: 20px;
    margin-top: 10px;
}
input.commonInputLine
{
    border: none;
    border-bottom: 1px solid #CCC;
     width: 98%;
     font-size: 0.9em;
}