{% extends"::base.html.twig" %}
 {% block body %}
 	{% for i in 1..4 %}
		<section style="float:left">
			<div   id="event_{{i}}" class="album">
				    <div id="paging_{{i}}" class="paging">
				        <div class="page single" >
				        <section>
				        	<img src="{{ asset('bundles/hey/images/profils/1/events/1/1.jpg') }}" />
				        </section>
				        <article>
						<h2>Harle</h2>
				     Aperçu, photos et vidéos, le poster de la compétition; par la Fédération Internationale de Football Association.
				        </article>
				        </div>
				        <div class="page single" ></div>
				        <div class="page single" ></div>
				        <div class="page single" ></div>
				        <div class="page single" ></div>
				        <div class="page single" ></div>
				        <div class="page single" ></div>
					</div>	
			</div>
		</section>
	{% endfor %}
 {% endblock %}
 {% block javascripts %}
 <script>
$(document).ready(function() {

 $('#event_1').iphoneSlide({
	    handler: "#paging_1",
	    pageHandler: ".page",
	    direction :"vertical",
	    autoPlay: false,
	    autoCreatePager: true,
	    pager: {
        pagerType: "dot",
	        selectorName: ".banner_pager",
	        childrenOnClass: "on",
	        slideToAnimated: true
	    }
	});

	
	
	
$('#event_2').iphoneSlide({
	    handler: "#paging_2",
	    pageHandler: ".page",
	    direction :"vertical",
	    autoPlay: false,
	    autoCreatePager: true,
	      pager: {
        pagerType: "dot",
	        selectorName: ".banner_pager2",
	        childrenOnClass: "on",
	        slideToAnimated: true
	    }
	});
	

$('#event_3').iphoneSlide({
	    handler: "#paging_3",
	    pageHandler: ".page",
	    direction :"vertical",
	    autoPlay: false,
	    autoCreatePager: true,
	      pager: {
        pagerType: "dot",
	        selectorName: ".banner_pager3",
	        childrenOnClass: "on",
	        slideToAnimated: true
	    }
	});
	
	$('#event_4').iphoneSlide({
	    handler: "#paging_4",
	    pageHandler: ".page",
	    direction :"vertical",
	    autoPlay: false,
	    autoCreatePager: true,
	      pager: {
        pagerType: "dot",
	        selectorName: ".banner_pager4",
	        childrenOnClass: "on",
	        slideToAnimated: true
	    }
	});
	
	

});


</script>
 {% endblock %}